h1 {
   font-family: Helvetica;
   font-size: 100px;
   font-weight: bold;
   color: khaki; 
   text-align: center;
   }

header {
    width: 100%;
    height: auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    background-size: cover;
    background-position: center center;
    }

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.blue {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

p {
    font-family: Helvetica;
}

h3 {
    font-family: Arial;
}